:root {
    --primaryColor:#23415C;
    --accentColor: #B8860B; 
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    /* --mainTransition: all .75s linear; */
}


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
color: var(--mainBlack);
background: var(--mainWhite);
font-family: 'Montserrat', sans-serif;
}

html,body
{
height: 100%;
width: 100%;
}

/* --- NAVBAR --- */
.navbar
{
  background-color: #23415C;
    padding: 10px 0 15px 1%;
    font-size: 13px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

.navbar-brand
{
    min-height:55px;
    padding: 0 15px 5px;
}

.navbar-brand img
{
    width: 23%;
    height: auto;
}

.navbar-default .navbar-nav li a
{
color: var(--accentColor); 
margin-top: 12px;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-bar li a:active
{
color: var(--mainWhite); 
} 

/* --- CART BUTTON NAV--- */

.shopcCart-btn {
position: relative;
cursor: pointer;
}
.shopCart-items {
position: absolute;
top: 0px;
right: 0px;
background: var(--accentColor);
padding: 0 5px;
border-radius: 30%;
color: var(--mainWhite);
}
/* --- end of CART BUTTON NAV--- */
/* --- end of NAVBAR --- */

/* --- HEADER --- */
.phoneHeader h1
{
font-family: 'Bebas Neue', cursive;
color: var(--primaryColor);
text-shadow: 3px 3px var(--accentColor);
font-size: 100px;
text-align: center;
margin-top: 8%;
}

.phoneHeader h2{
  font-family: 'Cinzel', serif;
  color: var(--accentColor);
  text-shadow: 2px 2px var(--primaryColor);
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}

.phoneHeader h5
{
font-family: 'Bebas Neue', cursive;
color: var(--primaryColor);
text-shadow: 3px 3px var(--accentColor);
font-size: 32px;
text-align: center;
margin-top: 5%;
}

.phoneHeader h3
{
font-family: 'Cinzel', serif;
color: var(--mainBlack);
text-align: center;
font-weight: bolder;
font-size: 25px;
}


/* --- end of HEADER */

/* --- GALLERY --- */

.products {
padding: 4rem 0;
}

.section-title h2 {
text-align: center;
font-size: 2.5rem;
margin-bottom: 5rem;
text-transform: capitalize;
letter-spacing: var(--mainSpacing);
}

.products-center {
width: 90vw;
margin: 0 auto;
max-width: 1170px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
grid-column-gap: 1.5rem;
grid-row-gap: 2rem;
}

.img-container {
position: relative;
overflow: hidden;
}

.bag-btn {
position: absolute;
top: 50%;
right: 20%;
background: var(--mainWhite);
border: none;
text-transform: uppercase;
padding: 0.75rem 1rem;
letter-spacing: var(--mainSpacing);
font-weight: bold;
font-size: 10px;
/* transform: translateX(25%); */
transform: translateY(25%);
cursor: pointer;
border-radius: 20px 20px;
opacity: 0;
}

.bag-btn:hover {
color: var(--accentColor);
background-color: var(--primaryColor);
opacity: 1;
}

.bag-btn1
{
  margin-top: 2%;
  margin-left: 39%;
  margin-bottom: 5%;
  background: var(--mainWhite);
  border: none;
  text-transform: uppercase;
  padding: 15px 15px 15px 15px;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  font-size: 15px;

  /* transform: translateX(25%); */
  transform: translateY(25%);
  cursor: pointer;
  border-radius: 20px 20px;
  }

.bag-btn1:hover
{
  color: var(--accentColor);
  background-color: var(--primaryColor);
  opacity: 1;
  }

.fa-shopping-cart {
margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
transform: translateX(0);
}

.product-img {
display: block;
width: 50%;
min-height: 12rem;
/* */
}

.product-img0 {
  display: block;
  width: 40%;
  min-height: 12rem;
  /* */
  margin-left: 30%;
  margin-top: 0.5%;
  }

.product-img1 {
display: block;
width: 50%;
height: 180px;
margin-left: 25%;
/* feather into birds */
}

.product-img2 {
display: block;
width: 55%;
height: 190px;
margin-left: 22%;
/* chess piece, couboy, lotus flowers */
}

.product-img3 { 
display: block;
width: 60%;
height: 160px;
margin-left: 20%;
/* excalibur's sword */
}

.product-img4 {
display: block;
width: 60%;
height: 185px;
margin-left: 22%;
/* flower elephant */
}

.product-img5
{
display: block;
width: 50%;
height: 190px;
margin-left: 25%;
}

.product-img6
{
display: block;
width: 60%;
margin-left: 18%;
margin-top: 20%;
/* philippine flag */
}

.product-img7
{
display: block;
width: 60%;
margin-left: 18%;
margin-top: 20%;
/* pirate ship */
}

.product-img8
{
display: block;
width: 50%;
height: 180px;
margin-left: 22%;
/* quote by jrr tolkien, tribal turtle*/
}

.product-img9
{
display: block;
width: 60%;
margin-left: 18%;
margin-top: 20%;
/* world map */
}


.img-container:hover .product-img 
{
opacity: 0.5;
}

.img-container:hover .product-img0
{
opacity: 0.5;
}
.img-container:hover .product-img1
{
opacity: 0.5;
}
.img-container:hover .product-img2
{
opacity: 0.5;
}
.img-container:hover .product-img3
{
opacity: 0.5;
}
.img-container:hover .product-img4
{
opacity: 0.5;
}
.img-container:hover .product-img5
{
opacity: 0.5;
}
.img-container:hover .product-img6
{
opacity: 0.5;
}
.img-container:hover .product-img7
{
opacity: 0.5;
}
.img-container:hover .product-img8
{
opacity: 0.5;
}
.img-container:hover .product-img9
{
opacity: 0.5;
}

.product h3 {
font-size: 15px;
margin-top: 1rem;
letter-spacing: var(--mainSpacing);
text-align: center;
}

.product h4 {
font-size: 12px;
margin-top: 0.7rem;
letter-spacing: var(--mainSpacing);
color: var(--primaryColor);
text-align: center;
}

/* --- ON CLICK STYLINGS --- */

/* --- MARQUEE ANIMATION --- */
/* .marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
  color: var(--accentColor);
}

.marquee p {
  position: absolute;
  width: 200%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  font-size: 45px;


  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: scroll-left 0.5s linear infinite;
  -webkit-animation: scroll-left 0.5s linear infinite;
  animation: scroll-left 25s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
} */
/* --- end of MARQUEE ANIMATION --- */

/* --- end of ON CLICK STYLINGS --- */
  /* --- End of GALLERY --- */

  /*-------- FOOTER -------- */
  footer
  {
  width: 100%;
  margin-bottom: -5%;
  padding-bottom: 5px;
  background-color: #23415C;
  padding: 2% 2% 2% 2%;
  color: #B8860B;
  position: relative;
  }
  
  footer, h3
  {
  color: #FFF;
  margin-top: 10%;
  }
  
  .fab
  {
  padding: 15px;
  font-size: 25px;
  color: #FFF;
  }
  
  .fab:hover
  {
  color:#B8860B;
  text-decoration: none;
  }
  
  .FAQ
  {
  padding: 15px;
  font-size: 25px;
  color: #FFF;
  }
  
  .FAQ:hover
  {
  color:#B8860B;
  text-decoration: none;
  }
  
  .icon
  {
  max-width: 200px;
  }
  
  .row #contact
  {
  margin-top: 10%;
  }
  
  /* -------- CONTACT MODAL BUTTONS, TRIGGER & SUBMIT -------- */
  
  .modBttn_footer
  {
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  font-size: 15px;
  color: #FFF;
  margin-top: 5%;
  margin-bottom: 30px;
  margin-left: 0px;
  border-radius: 15px 15px;
  padding: 10px 25px 10px 25px;
  }
  
  .modBttn_footer:hover
  {
  color:#B8860B;
  background-color: #23415C;
  }
  
  .modBttn
  {
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  font-size: 15px;
  color:#B8860B;
  background-color: #23415C;
  margin-top: 5%;
  margin-bottom: 30px;
  margin-left: 0px;
  border-radius: 15px 15px;
  padding: 10px 25px 10px 25px;
  }
  
  .modBttn:hover
  {
  background-color: #FFF;
  color: black
  }
  /* -------- end of CONTACT MODAL BUTTONS, TRIGGER & SUBMIT -------- */
  
  /* -------- MODAL CONTENT -------- */
  
  .modal-body
  {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: #000;   
  width: 100%;
  margin-top: 10px;
  }
  
  .modal-header h4
  {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 30px;
  color: #23415C;
  text-shadow: 2px 2px #B8860B;
  }
  
  label
  {
  font-family: 'Bebas Neue', cursive;
  font-size: 300%;
  font-weight: bold;
  color: #23415C;
  text-shadow: 2.5px 2.5px #B8860B;
  margin-left: 1px;
  }
  
  input
  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px 10px;
  box-sizing: border-box;
  }
  
  textarea
  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px 10px;
  box-sizing: border-box;
  }
  
  /* -------- end of MODAL CONTENT -------- */
  
  .row #connect
  {
  margin-top: 10%;
  }

  /* -------- end of FOOTER -------- */
  



  /* --- MEDIA QUERIES ---*/
  @media (max-width: 768px)
  {
    .bag-btn
    {
      top: 65%;
      left: 32%;
      transform: translateY(15%);
    }

    .bag-btn1
    {
      top: 50%;
     margin-left: 28%;
      font-size: 12px;
      transform: translateY(15%);
    }

    .product-img0 {
      display: block;
      width: 50%;
      height: 250px;
      margin-left: 25%;
    
    }

    .product-img1 {
      display: block;
      width: 50%;
      height: 250px;
      margin-left: 25%;
    
      /* feather into birds */
      }
      
      .product-img2 {
      display: block;
      width: 55%;
      height: 250px;
      margin-left: 22%;
    
      /* chess piece, couboy, lotus flowers */
      }
      
      .product-img3 { 
      display: block;
      width: 60%;
      height: 160px;
      margin-left: 20%;
    
      /* excalibur's sword */
      }
      
      .product-img4 {
      display: block;
      width: 50%;
      height: 250px;
      margin-left: 25%;
    
      /* flower elephant */
      }
      
      .product-img5
      {
      display: block;
      width: 50%;
      height: 300px;
      margin-left: 25%;
    
      /* geo deer */
      }
      
      .product-img6
      {
      display: block;
      width: 60%;
      margin-left: 18%;
      margin-top: 20%;
    
      /* philippine flag */
      }
      
      .product-img7
      {
      display: block;
      width: 60%;
      margin-left: 18%;
      margin-top: 20%;
    
      /* pirate ship */
      }
      
      .product-img8
      {
      display: block;
      width: 55%;
      height: 250px;
      margin-left: 23%;
    
      /* quote by jrr tolkien, tribal turtle*/
      }
      
      .product-img9
      {
      display: block;
      width: 60%;
      margin-left: 20%;
      margin-top: 20%;
      
      /* world map */
      }

      .icon
      {
      max-width: 150px;
      }
  }