/* --- PRODUCT MODAL---  */
.modal-body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.modal-header h5
{
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color:#B8860B;
    text-shadow: 2px 2px #23415C;
}

.modal-header .modal-title
{
    margin-top: 5%;
}

.imgPro img
{
    width: 150px;
    margin: 0 auto;
    display: block;
    padding: 50px 0;
}

hr
{
    border: 1px solid rgba (204, 204, 204, 0.4);
}

.title
{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #000;
    padding: 20px, 0 5px 30px;
    margin-left: 20px;
}

p
{
    font-size: 20px;
    padding: 0, 0, 0, 30px;
    margin-left: 20px;
}


.price
{
    padding: 15px 0 25px 30px;
    font-weight: bold;
}

.price b
{
    font-size: 20px;
    position: relative;
    font-weight: 500;
}

.price b span
{
    position: absolute;
    font-size: 1rem;
    left: -10px;
}

.animate 
{
    animation: fadeIn 200ms 1 forwards;
}

/* --- MODAL FOOTER BUTTONS ---*/

.modBttn
{
font-family: 'Cinzel', serif;
font-weight: bolder;
font-size: 15px;
color:#B8860B;
background-color: #23415C;
margin-top: 5%;
margin-bottom: 30px;
margin-left: 5%;
border-radius: 15px 15px;
padding: 10px 25px 10px 25px;
}

.modBttn:hover
{
background-color: #FFF;
color: black
}

@keyframes fadeIn
{
    0% {opacity:0}
    100% {opacity: 1}
}
/* --- end of MODAL FOOTER BUTTONS ---*/


 /* --MODAL SWITCH BUTTONS-- */
 /* --- iPHONE 11 */
.bamboo11
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherry11
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewood11
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnut11
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
 /* --- end - iPHONE 11 --- */
 /* --- iPHONE 11 PRO --- */
.bamboo11Pro
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherry11Pro
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewood11Pro
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnut11Pro
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end - iPhone 11 Pro --- */
/* iPHONE 11 PRO MAX */
.bamboo11ProMax
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherry11ProMax
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewood11ProMax
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnut11ProMax
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of iPHONE 11 PROMax --- */
/* --- iPhone X Modal --- */
.bambooX
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherryX
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewoodX
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutX
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of iPhone X Modal --- */
/* --- iPhone XR Modal ---*/
.bambooXR
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherryXR
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewoodXR
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutXR
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of iPhone XR Modal --- */

/* --- iPhone XS Modal --- */
.bambooXS
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherryXS
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewoodXS
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}

.walnutXS
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of iPhone XS Modal ---*/
/* --- iPhone XS Max Modal ---*/
.bambooXSmax
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherryXSmax
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewoodXSmax
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}

.walnutXSmax
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of iPhone XS Max Modal */
/* --- iPhone 8 Modal ---*/
.bamboo8
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherry8
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewood8
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}

.walnut8
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of iPhone 8 Modal --- */
/* --- iPhone 8 Plus Modal --- */
.bamboo8Plus
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherry8Plus
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewood8Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}

.walnut8Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of iPhone 8 Plus Modal --- */
/* --- iPhone 7 Modal --- */
.bamboo7
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherry7
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewood7
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}

.walnut7
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of iPhone 7 Modal */
/* --- iPhone 7Plus Modal --- */
.bamboo7Plus
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherry7Plus
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewood7Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}

.walnut7Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of iPhone 7Plus Modal */
/* --- iPhone 6 Modal --- */
.bamboo6
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherry6
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewood6
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}

.walnut6
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}

/* --- end of iPhone 6 Modal */
/* --- iPhone iPhone 6Plus Modal --- */
.bamboo6Plus
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherry6Plus
{

    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;

}

.rosewood6Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}

.walnut6Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of iPhone 6Plus Modal */

/* --- */

/* --- MEDIA QUERIES --- */

@media (max-width: 768px)
{
    .bamboo11
    {
        margin-left: 5px;
    }

    .cherry11
    {
        margin-left: 10px;
    }

    .rosewood11
    {
        margin-left: 20px;
    }

    .walnut11
    {
        margin-left: 30px;
    }
   /* --- end of iPhone 11 --- */
    /* ---iPhone11Pro --- */
    .bamboo11Pro
    {
        margin-left: 5px;
    }

    .cherry11Pro
    {
        margin-left: 10px;
    }

    .rosewood11Pro
    {
        margin-left: 20px;
    }

    .walnut11Pro
    {
        margin-left: 30px;
    }
    /* --- end of iPhone 11 Pro  --- */
    /* --- iPhone 11 Pro Max */
    .bamboo11ProMax
    {
        margin-left: 5px;
    }

    .cherry11ProMax
    {
        margin-left: 10px;
    }

    .rosewood11ProMax
    {
        margin-left: 20px;
    }

    .walnut11ProMax
    {
        margin-left: 30px;
    }

    /* --- end of iPhone 11 Pro Max */
    /* --- iPhone X --- */
    .bambooX
    {
        margin-left: 5px;
    }

    .cherryX
    {
        margin-left: 10px;
    }

    .rosewoodX
    {
        margin-left: 20px;
    }

    .walnutX
    {
        margin-left: 30px;
    }
    /* --- end of iPhone X --- */
    /* --- iPhone XR --- */
    .bambooXR
    {
        margin-left: 5px;
    }

    .cherryXR
    {
        margin-left: 10px;
    }

    .rosewoodXR
    {
        margin-left: 20px;
    }

    .walnutXR
    {
        margin-left: 30px;
    }
    /* --- end of iPhone XR --- */
    /* --- iPhone XS ---*/
    .bambooXS
    {
        margin-left: 5px;
    }

    .cherryXS
    {
        margin-left: 10px;
    }

    .rosewoodXS
    {
        margin-left: 20px;
    }

    .walnutXS
    {
        margin-left: 30px;
    }
    /* --- end of iPhone XS --- */
    /* --- iPhone XS Max --- */
    .bambooXSmax
    {
        margin-left: 5px;
    }

    .cherryXSmax
    {
        margin-left: 10px;
    }

    .rosewoodXSmax
    {
        margin-left: 20px;
    }

    .walnutXSmax
    {
        margin-left: 30px;
    }
    /* --- end of iPhone XS Max */
    /* --- iPhone 8 Modal */
    .bamboo8
    {
        margin-left: 5px;
    }

    .cherry8
    {
        margin-left: 10px;
    }

    .rosewood8
    {
        margin-left: 20px;
    }

    .walnut8
    {
        margin-left: 30px;
    }
    /* --- end of iPhone 8 Modal --- */
    /* --- iPhone 8 Plus Modal ---*/
    .bamboo8Plus
    {
        margin-left: 5px;
    }

    .cherry8Plus
    {
        margin-left: 10px;
    }

    .rosewood8Plus
    {
        margin-left: 20px;
    }

    .walnut8Plus
    {
        margin-left: 30px;
    }
    /* --- end of iPhone 8 Plus Modal--- */
/* --- iPhone 7 Modal --- */
    .bamboo7
    {
        margin-left: 5px;
    }

    .cherry7
    {
        margin-left: 10px;
    }

    .rosewood7
    {
        margin-left: 20px;
    }

    .walnut7
    {
        margin-left: 30px;
    }
/* --- end of iPhone 7 Modal */
/* --- iPhone 7Plus Modal --- */
    .bamboo7Plus
    {
        margin-left: 5px;
    }

    .cherry7Plus
    {
        margin-left: 10px;
    }

    .rosewood7Plus
    {
        margin-left: 20px;
    }

    .walnut7Plus
    {
        margin-left: 30px;
    }
/* --- end of iPhone 7Plus Modal */

/* --- iPhone 6 Modal --- */
    .bamboo6
    {
        margin-left: 5px;
    }

    .cherry6
    {
        margin-left: 10px;
    }

    .rosewood6
    {
        margin-left: 20px;
    }

    .walnut6
    {
        margin-left: 30px;
    }

/* --- end of iPhone 6 Modal */



/* --- iPhone iPhone 6Plus Modal --- */
    .bamboo6Plus
    {
        margin-left: 5px;
    }

    .cherry6Plus
    {
        margin-left: 10px;
    }

    .rosewood6Plus
    {
        margin-left: 20px;
    }

    .walnut6Plus
    {
        margin-left: 30px;
    }
/* --- end of iPhone 6Plus Modal */







    /* mod cart button */
    .modBttn
{
    margin-bottom: 30px;
    margin-left: 150px;
    width: 30%;
   
}
}