/* --- PRODUCT MODAL---  */
.modal-body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.modal-header h5
{
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color:#B8860B;
    text-shadow: 2px 2px #23415C;
}

.modal-header .modal-title
{
    margin-top: 5%;
}

.imgPro img
{
    width: 150px;
    margin: 0 auto;
    display: block;
    padding: 50px 0;
}

hr
{
    border: 1px solid rgba (204, 204, 204, 0.4);
}

.title
{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #000;
    padding: 20px, 0 5px 30px;
    margin-left: 20px;
}

p
{
    font-size: 20px;
    padding: 0, 0, 0, 30px;
    margin-left: 20px;
}


.price
{
    padding: 15px 0 25px 30px;
    font-weight: bold;
}

.price b
{
    font-size: 20px;
    position: relative;
    font-weight: 500;
}

.price b span
{
    position: absolute;
    font-size: 1rem;
    left: -10px;
}

.animate 
{
    animation: fadeIn 200ms 1 forwards;
}

/* --- MODAL FOOTER BUTTONS ---*/

.modBttn
{
    padding: 5px;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 30px;
    margin-left: 200px;
    width: 30%;
}
.modBttn:hover
{
    color:#B8860B;
    background-color: #23415C;
}

@keyframes fadeIn
{
    0% {opacity:0}
    100% {opacity: 1}
}

/* --- end of PRODUCT MODAL --- */

/* --------------------------------------------- */

/* --- Galaxy S10 Modal --- */
.bambooGalaxyS10
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherryGalaxyS10
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS10
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS10
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of Galaxy S10 Modal --- */

/* --- Galaxy S10Plus Modal --- */
.bambooGalaxyS10Plus
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherryGalaxyS10Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS10Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS10Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of Galaxy S10Plus Modal --- */

/* --- Galaxy S10e Modal --- */
.bambooGalaxyS10e
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherryGalaxyS10e
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS10e
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS10e
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of Galaxy S10e Modal */

/* --- Galaxy Note 10 Modal --- */
.bambooGalaxyNote10
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}
.cherryGalaxyNote10
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 150px;
}

.rosewoodGalaxyNote10
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 250px;
}
.walnutGalaxyNote10
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 350px;
}
/* --- end of Galaxy Note 10 Modal --- */

/* --- Galaxy Note 10Plus Modal --- */

.bambooGalaxyNote10Plus
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}

.cherryGalaxyNote10Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 150px;
}

.rosewoodGalaxyNote10Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 250px;
}
.walnutGalaxyNote10Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 350px;
    
}

/* --- end of Galaxy Note 10Plus Modal --- */

/* --- Galaxy S9 Modal --- */
.bambooGalaxyS9
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}

.cherryGalaxyS9
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS9
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS9
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
    
}
/* --- end of Galaxy S9 Modal --- */

/* --- Galaxy S9Plus Modal --- */
.bambooGalaxyS9Plus
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}

.cherryGalaxyS9Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS9Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS9Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
    
}
/* --- end of Galaxy S9 Plus Modal --- */

/* --- Galaxy Note 9 Modal --- */
.bambooGalaxyNote9
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}

.cherryGalaxyNote9
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyNote9
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyNote9
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
    
}
/* --- end of Galaxy Note 9 Modal --- */

/* --- Galaxy S8 Modal --- */
.bambooGalaxyS8
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}

.cherryGalaxyS8
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS8
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS8
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
    
}
/* --- end of Galaxy S8 Modal --- */

/* --- Galaxy S8Plus Modal --- */
.bambooGalaxyS8Plus
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}

.cherryGalaxyS8Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS8Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS8Plus
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
    
}
/* --- end of Galaxy S8Plus Modal --- */

/* --- Galaxy S7 Modal --- */
.bambooGalaxyS7
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}

.cherryGalaxyS7
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS7
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS7
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
    
}
/* --- end of Galaxy S7 Modal --- */

/* --- Galaxy S7 Edge Modal --- */
.bambooGalaxyS7Edge
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}

.cherryGalaxyS7Edge
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS7Edge
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS7Edge
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
}
/* --- end of Galaxy S7 Edge Modal ---*/

/* --- Galaxy S6 Modal --- */
.bambooGalaxyS6
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}

.cherryGalaxyS6
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS6
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS6
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
    
}
/* --- end of Galaxy S6 Modal --- */

/* --- Galaxy S6 Edge Modal --- */
.bambooGalaxyS6Edge
{
    
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 10px;
    
}

.cherryGalaxyS6Edge
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 100px;
}

.rosewoodGalaxyS6Edge
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 200px;
}
.walnutGalaxyS6Edge
{
    background-color: #FFF;
    border-color: #FFF;
    margin-left: 300px;
    
}
/* --- end of Galaxy S6 Edge Modal --- */

/*  ----------------------------------------------------------- */

/* --- MEDIA QUERIES --- */
@media (max-width: 768px)
{
 /* --- end of Galaxy S10 Modal --- */
    .bambooGalaxyS10
    {
        margin-left: 5px;
    }

    .cherryGalaxyS10
    {
        margin-left: 10px;
    }

    .rosewoodGalaxyS10
    {
        margin-left: 20px;
    }

    .walnutGalaxyS10
    {
        margin-left: 30px;
    }
/* --- end of Galaxy S10 Modal --- */

/* --- Galaxy S10Plus Modal --- */
    .bambooGalaxyS10Plus
    {
        margin-left: 5px;
    }

    .cherryGalaxyS10Plus
    {
        margin-left: 10px;
    }

    .rosewoodGalaxyS10Plus
    {
        margin-left: 20px;
    }

    .walnutGalaxyS10Plus
    {
        margin-left: 30px;
    }
/* --- end of Galaxy S10Plus Modal --- */

/* --- Galaxy S10e Modal --- */
    .bambooGalaxyS10e
    {
        margin-left: 5px;
    }

    .cherryGalaxyS10e
    {
        margin-left: 10px;
    }

    .rosewoodGalaxyS10e
    {
        margin-left: 20px;
    }

    .walnutGalaxyS10e
    {
        margin-left: 30px;
    }
/* --- end of Galaxy S10e Modal */

/* --- Galaxy Note 10 Modal --- */
    .bambooGalaxyNote
    {
        margin-left: 5px;
    }

    .cherryGalaxyNote
    {
        margin-left: 10px;
    }

    .rosewoodGalaxyNote
    {
        margin-left: 20px;
    }

    .walnutGalaxyNote
    {
        margin-left: 30px;
    }
/* --- end of Galaxy Note 10 Modal --- */

/* --- Galaxy Note 10Plus Modal --- */
    .bambooGalaxyNotePlus
    {
        margin-left: 5px;
    }

    .cherryGalaxyNotePlus
    {
        margin-left: 10px;
    }

    .rosewoodGalaxyNotePlus
    {
        margin-left: 20px;
    }

    .walnutGalaxyNotePlus
    {
        margin-left: 30px;
    }
/* --- end of Galaxy Note 10Plus Modal --- */

/* --- Galaxy S9 Modal --- */
    .bambooGalaxyS9
    {
        margin-left: 5px;
    }

    .cherryGalaxyS9
    {
        margin-left: 10px;
    }

    .rosewoodGalaxyS9
    {
        margin-left: 20px;
    }

    .walnutGalaxyS9
    {
        margin-left: 30px;
    }
/* --- end of Galaxy S9 Modal --- */

/* --- Galaxy S9Plus Modal --- */
.bambooGalaxyS9Plus
{
    margin-left: 5px;
}

.cherryGalaxyS9Plus
{
    margin-left: 10px;
}

.rosewoodGalaxyS9Plus
{
    margin-left: 20px;
}

.walnutGalaxyS9Plus
{
    margin-left: 30px;
}
/* --- end of Galaxy S9 Plus Modal --- */

/* --- Galaxy Note 9 Modal --- */
.bambooGalaxyS9
{
    margin-left: 5px;
}

.cherryGalaxyS9
{
    margin-left: 10px;
}

.rosewoodGalaxyS9
{
    margin-left: 20px;
}

.walnutGalaxyS9
{
    margin-left: 30px;
}

/* --- end of Galaxy Note 9 Modal --- */

/* --- Galaxy S8 Modal --- */
.bambooGalaxyS8
{
    margin-left: 5px;
}

.cherryGalaxyS8
{
    margin-left: 10px;
}

.rosewoodGalaxyS8
{
    margin-left: 20px;
}

.walnutGalaxyS8
{
    margin-left: 30px;
}
/* --- end of Galaxy S8 Modal --- */

/* --- Galaxy S8Plus Modal --- */
.bambooGalaxyS8Plus
{
    margin-left: 5px;
}

.cherryGalaxyS8Plus
{
    margin-left: 10px;
}

.rosewoodGalaxyS8Plus
{
    margin-left: 20px;
}

.walnutGalaxyS8Plus
{
    margin-left: 30px;
}
/* --- end of Galaxy S8Plus Modal --- */

/* --- Galaxy S7 Modal --- */
.bambooGalaxyS7
{
    margin-left: 5px;
}

.cherryGalaxyS7
{
    margin-left: 10px;
}

.rosewoodGalaxyS7
{
    margin-left: 20px;
}

.walnutGalaxyS7
{
    margin-left: 30px;
}
/* --- end of Galaxy S7 Modal --- */

/* --- Galaxy S7 Edge Modal --- */
.bambooGalaxyS7Edge
{
    margin-left: 5px;
}

.cherryGalaxyS7Edge
{
    margin-left: 10px;
}

.rosewoodGalaxyS7Edge
{
    margin-left: 20px;
}

.walnutGalaxyS7Edge
{
    margin-left: 30px;
}
/* --- end of Galaxy S7 Edge Modal ---*/

/* --- Galaxy S6 Modal --- */
.bambooGalaxyS6
{
    margin-left: 5px;
}

.cherryGalaxyS6
{
    margin-left: 10px;
}

.rosewoodGalaxyS6
{
    margin-left: 20px;
}

.walnutGalaxyS6
{
    margin-left: 30px;
}
/* --- end of Galaxy S6 Modal --- */

/* --- Galaxy S6 Edge Modal --- */
.bambooGalaxyS6Edge
{
    margin-left: 5px;
}

.cherryGalaxyS6Edge
{
    margin-left: 10px;
}

.rosewoodGalaxyS6Edge
{
    margin-left: 20px;
}

.walnutGalaxyS6Edge
{
    margin-left: 30px;
}
/* --- end of Galaxy S6 Edge Modal --- */

}